<html>
  <head>
    <title>404 Not Found :(</title>
        <link rel="stylesheet" href="/static/css/style.css">    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tinos&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Nunito:500&display=swap" rel="stylesheet">
  </head>
  <body class = "hello">
    <div class="container">
      <h1>404</h1>
      <p>Hello, is it me you're looking for?</p>
      <button>Go home Lionel you're drunk</button>
    </div>

<audio id="hello-audio">
<source src="/static/mp3/hello.mp3" type="audio/mpeg">
</audio>

<script src="/js/audio.js">
</script>

</body>
</html>