{{!-- fallback-chat.handlebars --}}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Chats page (Fallback)</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  </head>

  <body class="inchat">
    <header>
      <div class="profile-status-container">
        <a href="/" class="back">← Back</a>
        <div class="status-indicator"></div>
        <div class="profile-picture-container">
          <img src="https://ns.st-digital.net/wp-content/uploads/2023/03/Tekengebied-77.png" alt="Profile Picture" />
        </div>
        <p>{{chatName}}</p>
      </div>
    </header> 
<div class="fallback-message">

  <h2>JavaScript Disabled Are you a fan of living in the Stone Age? Go ahead, enable JavaScript, and join us in the modern era!</h2>
  <img src ="https://i.kym-cdn.com/entries/icons/mobile/000/018/259/55181940.jpg">
</div>
  </body>
</html>